# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_dwF1nQHgJkB9@ep-autumn-bar-aiggyf3c-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT Configuration
BETTER_AUTH_SECRET=8a27ebaaa92468791000448617dbd3b44c664fd3425cd2ddaf92b27c0d21c4eb
JWT_SECRET_KEY=8063b1d65310d627f97ee081985f4398620cc1cd213386d4f1f76db9f246bcfe
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://yourdomain.vercel.app

# App Configuration
APP_NAME=Todo Backend API
DEBUG=True
